<body background="https://s3.amazonaws.com/kickthelist/media/images/CityScape.jpg">

<br><br><br><br><br><br>
<div class="panel panel-default">
	<div class="panel-heading">
		<h4>Creat your profile</h4>
	</div>

		<div class="panel-body">
				<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
				  <%= devise_error_messages! %>

				  <div class="form-group">
        	<%= f.label :pick_your_user_name %>
        	<%= f.text_field :name, class: "form-control" %>
      		</div>

				  <div class="form-group">
    			<%= f.label :upload_a_profile_picture %>
    			<%= f.file_field :image, class: "form-control" %>
  				</div>

  				<div class="form-group">
			  	<%= f.label :enter_your_email_address %>
			  	<%= f.email_field :email, autofocus: true, class: "form-control" %>
			  	</div>

				  <div class="form-group">
				  	<%= f.label :enter_a_password %><br />
				  	<%= f.password_field :password, class: "form-control" %>
				  </div>

				  <div class="form-group">
				  	<%= f.submit "Sign up", class: "btn btn-primary" %>
				  </div>
				<% end %>

				<div class="panel-footer">
				<%= render "devise/shared/links" %>
				</div>
		</div>
</div>

</body>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-76095527-1', 'auto');
  ga('send', 'pageview');

</script>