 <font color="white">
    <%= form_for @pin, html: { multipart: true } do |f| %>
      <% if @pin.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@pin.errors.count, "error") %> prohibited this pin from being saved:</h2>

          <ul>
          <% @pin.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

        <div class="form">
          <div class="form-group">
              <!-- <%= f.label :add_to_your_list %> -->
              <%= f.text_field :description, autofocus: true, class: "form-control", id:"exampleInputText3", placeholder:"Example: Travel to a new city" %>
            </div>

           <div class="form-group">
              <%= f.label :Upload_a_pic_so_we_know_its_real %>
              <%= f.file_field :image, class: "form-control" %>
            </div> <br>

            <div class="form-group">
              <%= f.submit "Kick It", class: "btn btn-success" %>
            </div>
          <% end %>
        </div>
  </font>