<body background="https://s3.amazonaws.com/kickthelist/media/images/CityScape.jpg">


<%= render 'pages/home' unless user_signed_in? %>


<% if user_signed_in? %>

      <br><br><br><br>
    <div class="center">
        <font color="white"> <h3>What other people kicked</h3></font>
        <%= link_to "Listed", discover_path, class: "btn btn-default" %>
        <%= link_to "Kicked", discoverkicked_path, class: "btn btn-primary" %> <p>
         <br>
    </div>
        
  <div class="row">
    <div class="col-md-offset-4 col-md-4">
      <div id="pins" class="left">

        <% @pins.each do |pin| %>
          <% if pin.image? %>
            <div class="panel panel-primary">
              <div class="panel-body">
                <div class= "media">
                  <div class="center">
                      <%= image_tag pin.image.url(:medium) %>
                  </div> <br>
                  <div>
                    <div>
                      <div style="font-size: 17px">
                        <%= link_to pin.description, pin %> 
                      </div>
                            <!-- <% if pin.user == current_user%>
                            <div class="actions">
                              <%= link_to 'kick', edit_pin_path(pin)%> 
                            </div> 

                          <%=link_to (image_tag pin.user.image.url(:medium)), pin.user if pin.user %> <br>
                                <strong><%= pin.user.name if pin.user %></strong>

                          <% end %> -->
                    </div>
                  </div>
                </div>
              </div>  
            </div> 
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
  
  
<% else %>
<%end%>

<div class="center">
   <%= will_paginate @pins, renderer: BootstrapPagination::Rails %>
</div>
</body>


<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-76095527-1', 'auto');
  ga('send', 'pageview');

</script>