<body background="https://s3.amazonaws.com/kickthelist/media/images/CityScape.jpg">


<%= render 'pages/home' unless user_signed_in? %>


<% if user_signed_in? %>

<br><br><br><br>
    <div class="center">
        <font color="white"> <h3>What other people have listed</font></h3>
        <%= link_to "Listed", discover_path, class: "btn btn-default active" %>
        <%= link_to "Kicked", discoverkicked_path, class: "btn btn-primary" %> <p>
         <br>
    </div>
        
<div class="row">
  <div class="col-md-offset-3 col-md-6">
<div id="pins-center" class="left">

      <% @pins.each do |pin| %>
        <div class="panel panel-primary"> <!-- changed from box panel and added row class atop -->
          <div class="panel-body">
                <div class= "media">
                  <div class="media-left">
                    <%=link_to (image_tag pin.user.image.url(:medium)), pin.user if pin.user %> <br>
                    <strong><%= pin.user.name if pin.user %></strong>
                  </div> 
                    <div class="media-body media-middle", style="padding-left: 15px; font-size: 17px">
                      <%= link_to pin.description, pin %>
                      <!-- <% if pin.user == current_user%>
                      <div class="actions">
                        <%= link_to 'kick', edit_pin_path(pin)%> 
                      </div>
                    <% end %> -->
                    </div>
                </div>
          </div>
        </div>  
      <% end %>
</div> 
</div>
</div>
<% else %>
<%end%>

<div class="center">
   <%= will_paginate @pins, renderer: BootstrapPagination::Rails %>
</div>
</body>


<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-76095527-1', 'auto');
  ga('send', 'pageview');

</script>