<%= link_to 'List Something', new_pin_path %>


<div id="pins" class="infinitescroll-enabled">
<table>
    <thead>
      <tr>
          <th></th>
          <th colspan="1"></th>
      </tr>
    </thead>
    
    <div class="box panel">
      
          <tbody>
            <div class="panel-body">
              <% @pins.each do |pin| %>
                
                  <tr>
                    <td><%= link_to pin.description, pin %><p>
                      <%= pin.user.email if pin.user %>
                      <% if pin.user == current_user%>
                          <%= link_to 'Kick', edit_pin_path(pin) %>
                          <%= link_to 'Destroy', pin, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                    <% end %>
                  </tr>
                
            <% end %>
          </div>
          </tbody>
    
  </div>

</table>
    
</div> 



