<%= link_to 'List Something', new_pin_path %>


<div id="pins" class="infinitescroll-enabled">
    
 
      
            
              <% @pins.each do |pin| %>

                <div class="box panel panel-default">
                  <div class="panel-body">
                      <%= link_to pin.description, pin %><br>
                      <%= pin.user.email if pin.user %>
                      <% if pin.user == current_user%>
                        <div class="actions">
                          <%= link_to 'Kick', edit_pin_path(pin) %> |
                          <%= link_to 'Delete', pin, method: :delete, data: { confirm: 'Are you sure?' } %>
                        </div>
                    <% end %>
                  </div>
                </div>  
            <% end %>
        

    
</div> 



