<body background="https://s3.amazonaws.com/kickthelist/media/images/CityScape.jpg">


<%= render 'pages/home' unless user_signed_in? %>


<% if user_signed_in? %>

<div class="center">
<font color="white"><h2> #KickTheList</h2>
<p> Kick the things you've done, relist the things you're gonna do! <p></font>
<%= link_to new_pin_path do %>
 <span class="glyphicon glyphicon-plus"></span> Add yours to the list
<% end %>
</div>
        


<div id="pins" class="infinitescroll-enabled">
          
  <% @pins.each do |pin| %>
    <div class="box panel panel-default">
      <div class="panel-body">
          <strong><%= pin.user.name if pin.user %></strong> &nbsp;&nbsp;&nbsp;
          <%= link_to pin.description, pin %>
          <% if pin.user == current_user%>
            <div class="actions">
              <%= link_to 'kick', edit_pin_path(pin)%> 
            </div>
        <% end %>
      </div>
    </div>  
<% end %>
</div> 

<% else %>
<%end%>

<div class="center">
   <%= will_paginate @pins, renderer: BootstrapPagination::Rails %>
</div>

</body>