<body background="https://s3.amazonaws.com/kickthelist/media/images/CityScape.jpg">

<% if user_signed_in? %>

<div class="center">
<font color="white"><h2>Hi, <%= current_user.name %></h2></font>
</div> <br><br>
     
     <div class="center">

     		<%= image_tag current_user.image.url(:medium) %> <p> <br> <br>
        <%= link_to "View Your List", mylist_path, class: "btn btn-success" %> &nbsp;&nbsp;&nbsp;
     		<%= link_to "Edit your profile", edit_user_registration_path, class: "btn btn-default" %> <br><br>
      <p><%= link_to "Log out", destroy_user_session_path, method: :delete %>
   </div>





<% else %>
<%end%>

</div>
</body>