<body background="https://s3.amazonaws.com/kickthelist/media/images/CityScape.jpg">

<% if user_signed_in? %>
<br><br><br>
	<div class="center">
		<font color="white"><h2>Hi, <%= current_user.name %></h2></font>
			</div> <br><br>     
	    	 <div class="center">
		     		<%= image_tag current_user.image.url(:medium) %><p><br> 
		     				<font color="white"><h4> you have
		     					<%= current_user.pins.count %> items listed 
		     				</h4></font> <br>
		        <%= link_to "View Your List", mylist_path, class: "btn btn-success" %> &nbsp;&nbsp;&nbsp;
		     		<%= link_to "Discover", discover_path, class: "btn btn-primary" %> 
		     		<br><br><p>
		     		<%= link_to "Edit your profile", edit_user_registration_path %>
		     		<!-- <%= link_to "Log out", destroy_user_session_path, method: :delete %> -->
	   		</div>
	</div>
<% else %>
<%end%>
</body>



<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-76095527-1', 'auto');
  ga('send', 'pageview');

</script>