

<br><br><br>
<br> <br>
<div class="col-md-offset-3 col-md-6">
	<!-- <%=link_to (image_tag @pin.user.image.url(:thumb)), @pin.user if @pin.user %><p>-->
	
</div> <br> 

<div class="row">
	<div class="col-md-offset-3 col-md-6">
		<div class="similar">	
			<div class="panel panel-default">
				<div class="panel-heading center">
							<div align="left">
								<strong><font color="black">by </font> <%=link_to (@pin.user.name), @pin.user, :"data-no-turbolink" => true  if @pin.user %></strong>
							</div> <br>
					
					<%= image_tag @pin.image.url(:medium) if @pin.image? %>
					<br><br>	

						<div class="panel-body left", style="font-size: 20px; padding-bottom: 0px"> 
			 				
			 				<%= @pin.description unless pin.image? %>
			 				<s><%= @pin.description if pin.image? %></s>
			 			</div> <br>

				</div>

					<div style="
				    margin-left: auto;
				    width: 70%;
				    margin-right: auto;">
							<table class="table" align="center"> 
								  <tboady>
								    <tr>
								      <td><%= link_to 'back', :back, :"data-no-turbolink" => true, class: "btn btn-default btn-sm", style: 'padding-bottom: 0px;
	   										 padding-top: 2px' %>
	   									</td>
	   									<td>
								 				<% if @pin.user == current_user %> 
													<%= link_to 'kick', edit_pin_path(@pin), class: "btn btn-default btn-sm", style: 'padding-bottom: 0px;
	    										padding-top: 2px'%> 
												<% end %>
											</td>
											<td><div class="fb-share-button" data-href="#{request.protocol}#{request.host_with_port}#{request.fullpath}" data-layout="button" data-mobile-iframe="true"> </div>  
								 			</td>
								      <td>
								      	<a class="twitter-share-button"
												href="https://twitter.com/intent/tweet?text=Just%20accepted%20the%20Kickthelist%20challenge:">
												Tweet</a>
											</td>
								    </tr>
	 							 </tbody>
	 							</table>
					</div>

					
						<script>
							document.write('<div class="fb-comments" data-href="'+location.href+'" data-num-posts="6"></div>');
						</script> 
				</div>

		 		  <!-- <div class="panel-body left", style="font-size: 14px"> 
		 			<%=link_to (image_tag @pin.user.image.url(:thumb)), @pin.user if @pin.user %>
			  	<p><strong><%=link_to (@pin.user.name), @pin.user if @pin.user %></strong></p>
					-->
				

								<!-- 
								<% if @pin.user == current_user %>
								<%= link_to 'delete', @pin, method: :delete, data: { confirm: 'Are you sure?' } %>
								<% end %> <br> <br> -->
							</div>

				</div>


					</div>
			</div>
	</div>
</div>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
  ga('create', 'UA-76095527-1', 'auto');
  ga('send', 'pageview');
</script>







    <!-- CODE FOR PEOPLE WHO ADDED SOMETHING SIMILAR     !!!!!


<div class="center">
<br> <h4><font color="white"> people who listed something similar </h4></font>
</div> 

<div class="row">
 <div class="col-md-offset-2 col-md-8">
		<div class="similar">
			<% @pins.each do |pin| %>
		    <div class="box panel panel-primary">
		      <div class="panel-body">
		            <div class= "media">
		              <div class="media-left">
		                <%=link_to (image_tag pin.user.image.url(:medium)), pin.user if pin.user %>
		                <strong><%= pin.user.name if pin.user %></strong>
		              </div> 
		                <div class="media-body media-middle", style="padding-left: 10px; font-size: 17px">
		                <%= link_to pin.description, pin %>
		                  <!-- <% if pin.user == current_user%>
		                  <div class="actions">
		                    <%= link_to 'kick', edit_pin_path(pin)%> 
		                  </div>
		                <% end %> (-> CHECK HERE... MISSING 2ND DASH TO GREY OUT)
		                </div>
		            </div>
		      </div>
		    </div>  
		  <% end %>
		</div>
</div>
</div>
-->