<body background="https://s3.amazonaws.com/kickthelist/media/images/CityScape.jpg">

<% if user_signed_in? %>

	<div class="center">
		<font color="white"><h2> Welcome to <%= @user.name%>'s list</h2></font>
			</div> <br><br>     
	    	 <div class="center">
 		     		<%= image_tag @user.image.url(:medium) %> <br><br> 
             <font color="white"><h4>
             <%= @user.pins.count %> items listed
	   		</div>
	</div>
<% else %>
<%end%>
</body>

<div id="pins-center" class="left">
          
  <% @user.pins.each do |pin| %>
    <div class="box panel panel-default">
      <div class="panel-body">
            <div class= "media">
              <div class="media-left">
                <%= image_tag pin.user.image.url(:medium) if pin.user %>
                <strong><%= pin.user.name if pin.user %></strong>
              </div> 
                <div class="media-body media-middle", style="padding-left: 10px; font-size: 16px">
                  <%= link_to pin.description, pin %>
                  <!-- <% if pin.user == current_user%>
                  <div class="actions">
                    <%= link_to 'kick', edit_pin_path(pin)%> 
                  </div>
                <% end %> -->
                </div>
            </div>
      </div>
    </div>  
  <% end %>
</div> 