<% if user_signed_in? %>


    <div class="center">
    			<h1 class="home" style="font-weight: normal" >Ultimate List of Users</h1> <p> <br>
      </div>
  
  <%= @user.count %> 

  <div class="center">  	
    <table>  
      <tr> 
        <th> &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;
        <th>User Name &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;</th>
        <th>User ID &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;</th>
        <th>Items listed &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;</th> 
      </tr> 
        <% @user.each do |user| %>
          <tr> <br>
              <td><%= link_to (image_tag user.image.url(:medium)), user %>&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;</td> 
              <td><strong><%= user.name %></td>
              <td><%= user.id %></strong></td>
              <td><%= user.pins.count %> items listed</td>
          </tr>		
        <% end%>
    </table>
  </div>

<% end %> 


<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-76095527-1', 'auto');
  ga('send', 'pageview');

</script>