<body background="https://s3.amazonaws.com/kickthelist/media/images/CityScape.jpg">
									<br><br><br><br>
<div class="jumbotron center">
	<h1>KickTheList</h1>
	<p><h3> Are you ready to take the challenge? </h3><br>
		<p> 1. Create a list of goals to accomplish
		<p> 2. Share your list and challenge friends 
		<p> 3. Achieve your goals and do more! </p></p><br>
		<%= link_to "challenge accepted", new_user_registration_path, class: "btn btn-success btn-lg", style: "padding-right: 60px; padding-left: 60px" %>


<div>
		 <br><br>
		 
		<div class ="well well-sm">
			<div class="form-inline">
					<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
					<%= devise_error_messages! %>
				  
					<br>
				  <div class="form-group">
				  	<!-- <%= f.label :email %> -->
				  	<%= f.email_field :email, autofocus: true, class: "form-control", id:"exampleEmail3", placeholder:"Email Address" %> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

				  	<!-- <%= f.label :password %> -->
				  	<%= f.password_field :password, class: "form-control", id:"exampleInputPassword3", placeholder:"Password" %>  &nbsp;&nbsp;&nbsp;&nbsp;

				  <% if devise_mapping.rememberable? -%>
				    <%= f.check_box :remember_me %> <%= f.label :remember_me %>
				  <% end -%> &nbsp;&nbsp;&nbsp;&nbsp;

				 
				  	<%= f.submit "Sign in", class: "btn btn-primary" %></div>
				<% end %> <br><br>

				<div class="panel-footer">
					<%= render "devise/shared/links" %>
				</div>
			</div>
		</div>

</div>

</body>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-76095527-1', 'auto');
  ga('send', 'pageview');

</script>