<body background="https://s3.amazonaws.com/kickthelist/media/images/CityScape.jpg">
									<br><br><br><br><br>
<div class="jumbotron center">
	<h1>KickTheList</h1><br>
	<p> Create your list of awesome things to do. Do them! Discover and repeat.</p></p><br>
		<%= link_to "sign up", new_user_registration_path, class: "btn btn-success" %>


<br>


<div>
		 <br><br>
		 
		<div class ="well well-sm">
			<div class="form-inline">
					<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
					<%= devise_error_messages! %>
				  

				  <div class="form-group">
				  	<!-- <%= f.label :email %> -->
				  	<%= f.email_field :email, autofocus: true, class: "form-control", id:"exampleEmail3", placeholder:"Email Address" %> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

				  	<!-- <%= f.label :password %> -->
				  	<%= f.password_field :password, class: "form-control", id:"exampleInputPassword3", placeholder:"Password" %>  &nbsp;&nbsp;&nbsp;&nbsp;

				  <% if devise_mapping.rememberable? -%>
				    <%= f.check_box :remember_me %> <%= f.label :remember_me %>
				  <% end -%> &nbsp;&nbsp;&nbsp;&nbsp;

				 
				  	<%= f.submit "Sign in", class: "btn btn-primary" %></div>
				<% end %> <br><br>

				<div class="panel-footer">
					<%= render "devise/shared/links" %>
				</div>
			</div>
		</div>

</div>

</body>